body {
    width: 100%;
}

.all {
    border: 2px solid;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.first {
    @extend .all;
    border-color: red;
    width: (100% / 2);
   
}

.second {
    @extend .all;
    border-color: blue;
    width: (100% / 4);
}

.third {
    @extend .all;
    border-color: green;
    width: (100% / 1.5);
}