$bojaPozadine: rgb(252, 126, 9);
$font:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$bojaSlova: rgb(184, 35, 35);
$bojaTabele:rgb(241, 188, 12);
$bojabody:rgb(151, 245, 193);


body {
    margin: 0;
    padding: 0;
    font-family: $font;
    background:$bojabody;
}

.container {
    width: 960px;
    margin: 0 auto;
}

h1 {
    padding: 20px 0;
    text-align: center;
    background:$bojaPozadine;
    color: $bojaSlova;
}

h2 {
    margin-bottom: 0px;
    padding-left: 10px;
    text-align: left;
    background: $bojaPozadine;
    color: $bojaSlova;
}

img {
    height: 400px;
    margin: 40px auto 40px;
    display: block;
}

table {
    width: 100%;
    color: #333;
    background: $bojaTabele;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eee;
}

td {
    padding: 5px 0;
}

td:first-child {
    width: 300px;
    padding-left: 10px;
}

p#footer {
    margin-top: 100px;
}